<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/ts.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('../../components/header.ejs') %>
    <main>
        <h1>Suppression de <%= message.fullname ? message.fullname : message.from %> envoyé le <%= new Date(message.sended).toLocaleString() %></h1>
        <form class="delete-message" action="/messages/<%= message._id %>/delete" method="POST">
            <a href="/messages">Annuler</a>
            <button>Confirmer</button>
        </form>
    </main>
    <%- include('../../components/footer.ejs') %>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/messages.js"></script>

</body>
</html>