<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/ts.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('../../components/header.ejs') %>
    <main>
        <% if (message) { %>
            <h1>Détails du message <%= message._id %></h1>
            <a href="/messages">Listes des messages</a>
            <ul>
                <li>From : <a href="mailto:<%= message.from %>"><%= message.from %></a></li>
                <li>Nom complet : <%= message.fullname %></li>
                <li>Date : <%= message.sended.toLocaleString() %></li>
                <li>Sujet : <%= message.subject %></li>
                <li>Message : <blockquote><%= message.message %></blockquote></li>
            </ul>
            <% } %>
    </main>
    <%- include('../../components/footer.ejs') %>
    <script src="/scripts/app.js"></script>
</body>
</html>