<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/ts.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('../../components/header.ejs') %>
    <main>
        <h1>Liste des messages</h1>
        <% if(messages) { %>
            <table class="list-message">
                <tr>
                    <th>From</th>
                    <th>Nom et Prénom</th>
                    <th>Sujet</th>
                    <th colspan="2">Actions</th>
                </tr>
                <% messages.forEach(message => { %>
                    <tr>
                        <td><%= message.from ? message.from : "" %></td>
                        <td><%= message.fullname ? message.fullname : "" %>
                        </td>
                        <td><%= message.subject ? message.subject : "" %></td>
                        <td><a href="/messages/<%= message._id %>">Détails</a></td>
                        <td><a href="/messages/<%= message._id %>/delete">Supprimer</a></td>
                    </tr>
                <% }) %>
            </table>
        <% } %>
    </main>
    <%- include('../../components/footer.ejs') %>
    <script src="/scripts/app.js"></script>
</body>
</html>