<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/ts.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('../../components/header.ejs') %>
    <main>
        <% if (user) { %>
            <% const zipcode = user.zipcode !== 'NULL' ? (user.zipcode.length < 5 ? `0${user.zipcode}` : `${user.zipcode}`) : ""%>
            <h1>Détails de <%= user.lastname %> <%= user.firstname %></h1>
            <a href="/users">Listes des utilisateurs</a>
            <a href="/users/<%= user.id_user %>/update">Modifier</a>
            <ul>
                <li>Nom : <%= user.lastname ? user.lastname : "" %></li>
                <li>Prénom : <%= user.firstname ? user.firstname : "" %></li>
                <li>Email : <%= user.email %></li>
                <li>Adresse : </li>
                <ul>
                    <li>N° et Nom de voie : <%= user.street !== 'NULL' ? user.street : "" %></li>
                    <li>Code Postal : <%= user.zipcode !== 'NULL' ? user.zipcode : "" %></li>
                    <li>Commune : <%= user.city !== 'NULL' ? user.city : "" %></li>
                </ul>
            </ul>
            <% } %>
    </main>
    <%- include('../../components/footer.ejs') %>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/users.js"></script>
</body>
</html>